.HeadImagew {
  width: 100%;
  margin-top: -34em;
  margin-bottom: 2em;
}

.side-section img {
  width: 100%;
  margin-bottom: 2em;
  border-radius: 3%;
}

.main-section {
  margin-left: 2em;
  margin-right: 2em;
}
